<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>
<body>
    <nav class="menu-box">
      <form method="POST">{% csrf_token %}
          <input type="text" name='username' placeholder="Nazwa użytkownika">
          <input type="password" name="password" placeholder="Hasło">
          <input type="submit" value="Zaloguj">
      </form>
    </nav>

    <div class="background"><img src="{% static 'store/drewno_logo.png' %}"></div>
</body>
</html>

