{% extends 'store/layout.html' %}
{% block content %}
    <div class="header">
        <h1> Stan magazynowy</h1>
    </div>
    <div class="table">
    <table class="table table-striped table-hover">
            <th>Rodzaj materiału</th>
            <th>Jednostka</th>
            <th>Ilość</th>
         {% for item in query_results %}
        <tr>
             <td>{{ item.material_name }}</td>
             <td>{{ item.unit }}</td>
             <td>{{ item.amount }}</td>
        </tr>
           {% endfor %}
        </table>
    </div>

{% endblock %}
