{% extends 'store/layout.html' %}

{% block title %}
    Szczegóły produktu
{% endblock %}

{% block content %}
    <div class="header">
    <h1>Do wykonania produktu {{ product.name }} potrzeba:</h1>
    </div>
    <div class="table-small">
    <table class="table table-striped table-hover">
        <th>Rodzaj materiału</th>
        <th>Ilość</th>
            {% for item in product.productmaterial_set.all %}
    <tr>
         <td>{{ item.material.name }}</td>
         <td>{{ item.amount }}</td>
    </tr>
       {% endfor %}
    </table>
    </div>
{% endblock %}